@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100;200;300;500;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(26, 1, 59);
    font-family: 'Anek Kannada';
}

a { text-decoration: none;}

::-webkit-scrollbar
{
    width:7px;
    background-color:#333; 
}
::-webkit-scrollbar-thumb
{
    background:rgb(255, 255, 255);
    border-radius: 5px;
}

.icon a
{
    font-size: 15px;
    padding-top: 2px;
    padding-left: 5px;
}

.page_header
{
    overflow: hidden;
}

.header-container
{
    width: 100%;
}

.header-image
{
    display: flex;
    position: relative;

}

.header-image img 
{
    top:0;
    left:0;

    object-fit: cover;
}

.header-logo
{
    position: absolute;
    z-index: 2;
    color:#fff;
    width: 100%;
    margin-top: 80px;
}

.header-title
{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    opacity: 0.8;
}

.header-subtitle
{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 200;
    line-height: 140%;
    opacity: 0.8;
}

.header-navigation
{
    display: flex;
    width: 100%;
    background-color: rgb(16, 17, 22);
    color:#fff;
}

.header-ul
{
    padding-top: 5px;
    font-weight: 300;
}

.header-li
{
    display: inline-flex;
    margin-left: 10px;
    opacity: 0.8;
    cursor: pointer;
}

.header-li a
{
    color:#fff;
    text-decoration: none;
}

.header-li:hover
{
    opacity: 1;
}

.header-li a:hover > .icon {
    animation: heartBeat;
    animation-duration: 3s;
}

.page_body
{
    overflow: hidden;
}

.body-products-logo
{
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 60px;
    color:#fff;
    opacity: 0.8;
    font-weight: 700px;
    font-size: 22px;
}

.body-products
{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
}

.body-products-column
{
    width: 400px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(16, 17, 22);
    color:#fff;
    margin-bottom: 20px;
}

.body-products-title
{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    opacity: 0.8;
}

.body-products-subtitle
{
    width: 50px;
    height: 1px;
    margin: 0px auto;
    margin-bottom: 40px;
    background-color: #ff0000;
}

.body-products-li
{
    opacity: 0.8;
}

.body-products-image
{
    text-align:center;
}


.body-products-image img
{
    width: 150px;
    height: 150px;
}

.body-products-ul
{
    opacity: 0.8;
    color:#fff;
    font-size: 17px;
    font-weight: 500;
}

.body-products-price
{
    text-align: center;
    font-size: 22px;
    padding-top: 40px;
    opacity: 0.8;
}

.body-products-button
{
    display: flex;
    justify-content: center;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 40px;
}

.body-products-button a
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    background-color: #fff;
    color:#000;
    opacity: 0.8;
}

.body-products-button a:hover{ opacity: 1;}

.body__information
{
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.body__information-container
{
    width: 100%;
}

.body__information-title
{
    color:#fff;
    font-size: 22px;
    font-weight: 700;
    margin-top:70px;
    margin-left: 70px;
    display: flex;
}

.body__information-subtitle
{
    margin-top: 20px;
    margin-left: 70px;
    color:#fff;
    font-size: 18px;
    display: flex;
}

.body__information-list
{
    background-color: rgb(29, 28, 35);
    margin-top: 60px;
    color:#fff;
    font-size: 15px;

}

.body__information-column
{
    display: inline-flex;
    width: 100%;
    height: 120px;
    font-size: 16px;
}

.body__information-item
{
    display: inline-flex;
    width: 100%;
    padding-top: 50px;

}

.body__information-column-title
{
    width: 100%;
    display: inline-flex;
    justify-content: left;
    padding-left: 70px;
    text-align: left;
    font-size: 15px;
    opacity: 0.8;
}

.body__information-icon
{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.body__information-text
{
    width: 100%;
    display: inline-flex;
    justify-content: right;
    padding-right: 70px;
    opacity: 0.8;
    text-align: right;
    font-size: 15px;
}

.body__information-column:hover >* .desc-icon
{
    transition:all .5s ease;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    animation: headShake 1s;
    color:rgb(180, 117, 234);
}

.mod
{
    background-color: rgb(16, 17, 22);
}

.desc-icon
{
    font-size: 30px;
    opacity: 0.8;
}

.body__functional
{
    background-color: rgb(16, 17, 22);
    overflow: hidden;
}

.body__functional-container
{
    display: flex;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: rgb(16, 17, 22);
}

.body__functional-items
{
    margin-left: 60px;
}

.body__functional-title
{
    color:#fff;
    opacity: 0.8;
    font-size: 22px;
    font-weight: 500;
}

.body__functional-subtitle
{
    color:#fff;
    opacity: 0.8;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.body__functional-list
{
    display: flex;
    width: 100%;
}

.body__functional-list-ul
{
    color:#fff;
    opacity: 0.8;
    font-size: 16px;
}

.page__footer
{
    overflow: hidden;
}

.page__footer-container
{
    display: flex;
    width: 100%;
    background-color: rgb(29, 28, 35);
}

.page__footer-items
{
    display: inline-flex;
    width: 100%;
}

.page__footer-author
{
    display: inline-flex;
    width: 100%;
    color:#fff;
    opacity: 0.8;
    justify-content: left;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 10px;
}

.page__footer-author a
{
    margin-left: 5px;
    color:rgb(180, 117, 234);
    text-decoration: none;
}

.page__footer-payment
{
    display: inline-flex;
    width: 100%;
    color:#fff;
    opacity: 0.8;
    justify-content: right;
    margin-top: 20px;
    margin-right: 60px;
    margin-bottom: 10px;
}

.icon-pay
{
    font-size: 25px;
    margin-left: 5px;
    margin-top: -2px;
    color:#fff;
}

/*<!------- Support element  ----------!>  */

.support-title
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    color:#fff;
    font-size: 22px;
    opacity: 0.8;
}


.support-items
{
    display: inline-flex;
    width: 100%;
    margin-top: 70px;
    justify-content: center;
    flex-wrap: wrap;
}

.support-column
{
    width: 300px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    background-color: rgb(16, 17, 22);
    margin-left: 20px;
    cursor: pointer;
}

.support-column:hover
{
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.support-column:hover >* .support-icon
{
    transition: all .5s ease;
    color:rgb(180, 117, 234);
}

.support-icon
{
    color:#fff;
    font-size: 55px;
    opacity: 0.8;
}

.support-item_title
{
    color:#fff;
    opacity: 0.8;
    margin-top: 30px;
}

.support-extended_container
{
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.support-extended_items
{
    display: flex;
    width: 100%;
}

.support-extended_column
{
    width: 50%;
    background-color: rgb(16, 17, 22);
    padding-bottom: 40px;
}

.support-extended_title
{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 20px;
    color:#fff;
    opacity: 0.8;
}

.support-extended_subtitle
{
    margin-left: 60px;
    font-size: 16px;
    color:#fff;
    opacity: 0.8;
}

.ext-mod
{
    margin-left: 0px;
    margin-right: 60px;
    float: right;
}

.ext-icon
{
    font-size: 55px;
    margin-top: 15px;
    color:rgb(180, 117, 234);
    animation: heartBeat;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.modal-icon
{
    color:rgb(180, 117, 234);
    margin-left: 5px;
    font-size: 25px;
}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 1100px;
      margin: 80px auto; /* для отображения модального окна по центру */
  }
  .modal-auth
  {
    max-width: 500px;
    text-align: center;
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(16, 17, 22);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    color:#fff;
    opacity: 0.8;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.modal-body-column
{
    margin-bottom: 25px;
}

.modal-body-title
{
    color:rgb(180, 117, 234);
    opacity: 0.8;
    font-size: 19px;
}

.modal-body-subtitle
{
    color:#fff;
    opacity: 0.8;
    font-size: 17px;
}

.modal-body-input
{
    margin-top: 10px;
}

.modal-body-input input
{
    border:0;
    font-size: 16px;
    background-color: rgb(29, 28, 35);
    color:#fff;
    opacity: 0.8;
    padding: 5px;
}

.modal-body-buttons
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-body-button
{
    opacity: 0.8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    cursor: pointer;
    border:0;
}

.modal-body-button:hover
{
    opacity: 1;
}

.modal-body-text
{
    float: left;
    margin-top: 30px;
    color:#fff;
    opacity: 0.8;
    justify-content: left;
}

.modal-body-text a
{
    color:rgb(180, 117, 234);
}

@media (max-width:1000px)
{
    .header-image img {object-position: right;}
}

@media (max-width:390px)
{
    .header-title {font-size: 20px; margin-top: 60px;}
    .header-subtitle {font-size: 16px;}
    .header-image img { object-position: left; }
    .header-navigation {justify-content: center; margin: 0; padding: 0;}
    .header-ul { padding-left:0;}
    .header-li {display:flex; justify-content: center; margin: 0px; padding: 0px; font-size: 18px;}
}

@media (max-width:945px)
{
    .body__information-item {padding-top: 0;}
    .body__information-text {padding-top: 20px;}
    .body__information-column-title {padding-top: 50px;}
    .body__information-icon {padding-top: 50px;}
}

@media (max-width:550px)
{
    .body__information-text {opacity: 0; position: absolute; padding: 0; margin: 0;}
    .body__information-icon {justify-content: right; padding-right: 60px;}
    .support-column { margin-left: 0px;}
}

@media (max-width:500px)
{
    .body-products-logo {justify-content: center; margin-left: 0; padding-left:0;}
    .page__footer-author {display:block; margin:0; padding: 0; text-align: center; }
    .page__footer-payment {display:block; margin:0; padding: 0; text-align: center;}
    .icon-pay {margin: 0; padding: 0;}
}